li {
    margin:15px;
}
body {
    background-color: pink;
}
li{
    font-family: "comic sans";
    font-size: 18px;
    text-align: center;
    color: grey;
}
body {
    text-align: center;
}
h2{
    font-family: "Comic Sans";
    font-size: 30px;
    text-align: center;
    color: grey;
}
h1 {
    font-family: 'Raleway', sans-serif;
}
body {
    font-family: 'Raleway', sans-serif;
}
h2 {
    font-family: 'Raleway', sans-serif;
}
li {
    font-family: 'Raleway', sans-serif;
}
img {
  
  height:300px;
}